<div class="container">
    <div class="jumbotron">
      <h1>Mongo Scraper</h1>
      <h2><i>"All the news that's fit to scrape!"</i></h2>
    </div>
    <div class="row">
        <div class="col-3" style="text-align: left">
            <a href="/scrape"><button type="button" class="btn btn-primary">Scrape New Articles</button></a>
        </div>
        <div class="col-3" style="text-align: left">
            <a href="/saved"><button type="button" class="btn btn-primary">Go to Saved Articles</button></a>
        </div>
    </div>
    <div>
    {{#each article}}
      <p>{{>article}}</p>
    {{/each}}
    </div>
    
      {{!-- <div id="articles"></div> --}}

      
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script src="app.js"></script>
    